
@page {
    width: 1404px;
    height: 1872px;
    margin: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page {
    width: 1404px;
    height: 1872px;
}

.year-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 20% 20% 20% 20%;
    padding: 3%;
    width: 100%;
    height: 100%;
}

.month-container {
    font-size: 0.5rem;
}

.month-container th {
    padding: 0.1rem;
    margin: 0.1rem;
}
