:root {
    --striped-h-wide: repeating-linear-gradient(
        0deg,
        #fff,
        #fff 5px,
        #000 5px,
        #000 6px);
    --striped-v-wide: repeating-linear-gradient(
        90deg,
        #fff,
        #fff 5px,
        #000 5px,
        #000 6px);
    --striped-d-wide: repeating-linear-gradient(
        45deg,
        #fff,
        #fff 5px,
        #000 5px,
        #000 6px);
    --striped-dd-wide: repeating-linear-gradient(
        -45deg,
        #fff,
        #fff 5px,
        #000 5px,
        #000 6px);
}

.striped-h-wide{
    background: var(--striped-h-wide);
}
.striped-v-wide{
    background: var(--striped-v-wide);
}
.striped-d-wide{
    background: var(--striped-d-wide);
}
.striped-dd-wide{
    background: var(--striped-dd-wide);
}
@font-face{
    font-family: "Open Sans Light";
    src: url(./fonts/OpenSans-Light.ttf);
}

@page {
    width: 1404px;
    height: 1872px;
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: "Open Sans Light";
    margin: 0;
    padding: 0;
}
.page {
    width: 1404px;
    max-width: 1404px; 
    height: 1872px;
    max-height: 1872px;
    overflow: hidden;
}

.month-container {
    font-size: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5rem;
}

.month-container table {
    table-layout: fixed;
}

.month-container th {
    font-size: 1.5rem;
    text-align: left;
    padding: 1.1rem;
}

.month-container td {
    padding-inline: 0.5rem;
}

.weeknr-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 0.3rem;
    text-align: right;
    padding: 0.3rem;
    width: 3vw;
    height: 13vh;
}

.month-container td.month-weeknr{
    padding-top: 1.15rem;
    font-size: 1.5rem;
}

.monthday-content {
    border: 2px dotted black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    width: 10vw;
    min-width: 10vw;
    max-width: 10vw;
    min-height: 13vh;
    height: 13vh;
    max-height: 13vh;
    overflow: hidden;
}

.monthday-content span {
    display: block;
}

.month-event {
    font-size: 0.9rem;
    max-height: 2.8rem;
    overflow: hidden;
    word-break: break-all;
    border-top: 1px dotted lightgray;
    background: var(--striped-v-wide);
}


