
@page {
    width: 1404px;
    height: 1872px;
    margin: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page {
    width: 1404px;
    height: 1872px;
}

.year-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10%;
    width: 100%;
    height: 100%;
}

.month-container {
}

.month-container th {
    padding: 0.5rem;
    margin: 0.8rem;
}
